.cars {
  width: 100%;
}

.cars > h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: blue;
  border: bottom 2px;
  border-width: 100px;
}
.cars-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
