.clothes {
  width: 100%;
}
.clothes > h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: blue;
  border: bottom 2px;
  border-width: 100px;
}
.clothes-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clothes-row {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.clothes-row::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.clothes-row {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
